{{define "modalFornecedor"}}
<div class="modal fade" id="modalFornecedor" tabindex="-1" aria-labelledby="modalFornecedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalFornecedorLabel">
                    <i class="bi bi-truck me-2"></i> Novo Fornecedor
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formNovoFornecedor">
                <div class="modal-body p-4">
                    <div class="mb-3">
                        <label for="fornecedor_razao_social" class="form-label fw-semibold">Razão Social *</label>
                        <input type="text" class="form-control" id="fornecedor_razao_social" name="fornecedor_razao_social"  required>
                    </div>
                    <div class="mb-3">
                        <label for="fornecedor_cnpj" class="form-label fw-semibold">CNPJ *</label>
                        <input type="text" class="form-control" id="fornecedor_cnpj" name="fornecedor_cnpj" required placeholder="Apenas números ou formato">
                    </div>
                    <div class="mb-3">
                        <label for="fornecedor_email" class="form-label fw-semibold">E-mail de Contato *</label>
                        <input type="email" class="form-control" id="fornecedor_email" name="fornecedor_email" required>
                    </div>
                    <small class="text-muted">* Campos obrigatórios</small>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success px-4 fw-bold">Salvar Fornecedor</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}
